#paddingLR {
  padding-right: 10%;
  padding-left: 10%;
}


th {
    text-align: center;
    font-size: x-large;
}

body {
    background-color: #222222;
    color: white;
    font-family: monospace;
}

.center {
    text-align: center;
}

.header {
    background-color: #98643d;
    border: 0px solid #222222;
	padding-bottom: 35px;
	padding-top: 35px;
	font-size: 350%;
}

.footer {
    text-align: center;
    font-size: 100%;
}

header {
 	align-content: center;
	text-align: center;
	width: 100%;
}

.header {
	
}

a {
    color: aqua;
    transition-duration: 0.4s;
}

a:hover {
    color:#a600ff;
    font-weight: bolder;
}

h2 {
    font-size: xx-large;
}

p {
    font-size: 125%;
}

table, th, td {
    border: 1px solid white;
}

button {
    border-radius: 6px;
    font-size: large;
    background-color: #e7e7e7;
    border: 2px solid #6b6b6b;
    cursor: pointer;
    transition-duration: 0.2s;
    padding: 8px 16px;
    text-align: center;
    margin: 4px 2px;
}

button:hover {
    background-color:#6b6b6b;
    border: 2px solid #e7e7e7;
    color:white;
}

input {
    border-radius: 6px;
    font-size: large;
    background-color: #e7e7e7;
    border: 2px solid #6b6b6b;
    cursor: pointer;
    transition-duration: 0.2s;
    padding: 8px 16px;
    text-align: center;
    margin: 4px 2px;
}

input:hover {
    background-color:#6b6b6b;
    border: 2px solid #e7e7e7;
    color:white;
}
